<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Your head content -->
</head>
<body>
    <div class="card-list">
        {% for blog_post in blog_posts %}

        <div class="card" style="width: 18rem;" style="margin-top: 5%;">
            <img class="card-img-top" src="https://mdbootstrap.com/img/new/slides/080.jpg" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">{{ blog_post.title }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <form id="blogForm" method="POST" action="{% url 'blog_home:listblog' %}">
                {% csrf_token %}
                <input type="hidden" name="blog_id" value="{{ blog_post.id }}">
                <button type="submit" class="btn btn-primary">Go somewhere</button>
            </form>
            </div>
          </div>
            <!-- <div class="card">
                <h2>{{ blog_post.title }}</h2>
                <p>{{ blog_post.content|safe }}</p>
            </div> -->
        {% endfor %}
    </div>
</body>
</html>
