<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    {% if messages %}
    <div class="container">
       {% for message in messages %}
       <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" id="message_box">
           {{ message }}
         
       </div>
       {% endfor %}
    </div>
    {% endif %}
    <script>
        var message_tag = document.getElementById("message_box");
        
        setTimeout(function(){ 
           message_tag.style.display = "none"; 
        }, 3000);    
        
        </script>
    
   
            <div class="container" style="width: 70%; margin-left: 20%;margin-top: 5%;">
                <b  style="font-size: 30px;">{{ blog_post.title }}</b>
                <img src="{{blog_post.blog_title_image.url}}" id="previewImage"  class="img-fluid" alt="Uploaded Image" style="border-radius: 2%; margin-top: 5%; margin-left: 10%; height: 200px; width: 40%;">
                <h2>{{ blog_post.user.name }}</h2>
                <h2>{{ blog_post.created_at }}</h2>
                
                <p>{{ blog_post.content|safe }}</p>
            </div>
            <div class="modal fade" id="exampleModalCenter_add_suggestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Add Suggestion</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="{% url 'blog_home:addsuggestion' %}">
                        <div class="form-group">
                          <label for="messageInput">Suggestion</label>
                          <input type="text" class="form-control" id="messageInput" name="text" placeholder="Enter your suggestion">
                          <input type="hidden" id="hiddenContent2" name="blog_id" value="{{blog_post.id}}">
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           
                          </div>
                         
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Submit Suggestion</button>
                      </form>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="modal fade" id="exampleModalCenter_see_your_suggestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Your Suggestion</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="{% url 'blog_home:retrievesuggestion' %}">
                        <div class="form-group">
                          <label for="messageInput">Message</label>
                          <input type="text" class="form-control" id="messageInput" name="message" placeholder="Enter your message">
                          <input type="hidden" id="hiddenContent2" name="blog_id" value="{{blog_post.id}}">
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           
                          </div>
                         
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Submit Report</button>
                      </form>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="modal fade" id="exampleModalCenter_see_sugestions" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Report Post</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="{% url 'blog_home:listsuggestion' %}">
                        <div class="form-group">
                          <label for="messageInput">Message</label>
                          <input type="text" class="form-control" id="messageInput" name="message" placeholder="Enter your message">
                          <input type="hidden" id="hiddenContent2" name="blog_id" value="{{blog_post.id}}">
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           
                          </div>
                         
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Submit Report</button>
                      </form>
                    </div>
                    
                  </div>
                </div>
              </div>
            <div class="container">
                <div class="card floating-card fixed-top" style="margin-top: 20%; width: 20%;">
                    <div class="card-body">
                        <h5 class="card-title">Suggestion Card</h5>
                        <!-- <p class="card-text">This card will move up and down as you scroll.</p> -->
                        {% if session_user != blog_post.user %}
    
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter_add_suggestion">
                            Suggest
                          </button>
                          
                          <!-- Modal -->
                   
                
                          {% endif %}
                     
                          {% if session_user != blog_post.user %}
                                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter_see_your_suggestion">
                                          See your Suggestion
                                 </button>
                          {% endif %}
                        {% if session_user == blog_post.user %}
                         <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter_see_suggestions">
                            See Suggestion by Users
                         </button>
                        {% endif %} 
                    
                    </div>
                </div>
            </div>
            
            <form id="blogreport" method="POST" action="{% url 'blog_home:reportcomment' %}"> 
                    
                <input type="hidden" id="hiddenContent2" name="blog_id" value="{{blog_post.id}}">
                {% csrf_token %}
                <button  type="submit"  class="btn btn-secondary">
                <i class="fas fa-flag"></i> Report
            </button>
        </form>


        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Report Post
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Report Post</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="{% url 'blog_home:reportpost' %}">
                    <div class="form-group">
                      <label for="messageInput">Message</label>
                      <input type="text" class="form-control" id="messageInput" name="message" placeholder="Enter your message">
                      <input type="hidden" id="hiddenContent2" name="blog_id" value="{{blog_post.id}}">
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       
                      </div>
                     
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Submit Report</button>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
    <div>

<b>Comments Section :</b>

<form id="commentForm" method="POST" action="{% url 'blog_home:retrieveblog' id=blog_post.id %}">

    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" id="comment" name="text" rows="3" required></textarea>
    </div>
    <input type="hidden" id="hiddenContent" name="parent" value="normal comment">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Submit Comment</button>
</form>
<div class="mt-4">
    <h3>Comment Section</h3>
    <ul class="list-group">
        {% for comment in all_comments %}

        <li class="list-group-item " style="margin-top: 3%;" >
            <div class="d-flex align-items-center">
                <!-- Left div with image -->
                <div>
                    <img src="https://mdbootstrap.com/img/new/slides/080.jpg" alt="User Avatar" class="rounded-circle" style="width: 80px;">

                    <h5 class="mb-1">{{ comment.name }}</h5>
                </div>
                <!-- Right div with content -->
                <div class="ml-3" style="background-color: lightgrey; width: 40%;margin-left: 10%; ">
                  
                    <p>{{ comment.text }}</p>
                    <!-- Buttons for Reply, Report, and Like -->
                    <button class="btn btn-secondary reply-button" data-toggle="collapse" data-target="#replyForm{{ comment.id }}">
                        Reply
                    </button>




                    <!-- modal form -->

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
                        Report
                      </button>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Report Comment</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form method="POST" action="{% url 'blog_home:reportcomment' %}">
                                <div class="form-group">
                                  <label for="messageInput">Message</label>
                                  <input type="text" class="form-control" id="messageInput" name="message" placeholder="Enter your message">
                                  <input type="hidden" id="hiddenContent4" name="comment_id" value="{{comment.id}}">
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Submit Report</button>
                                  </div>
                                 
                                </div>
                              </form>
                            </div>
                            
                          </div>
                        </div>
                      </div>


                    <!-- <form id="commentreport" method="POST" action="{% url 'blog_home:reportcomment' %}"> 
                    
                        <input type="hidden" id="hiddenContent2" name="comment_id" value="{{comment.id}}">
                        
                        <button  type="submit"  class="btn btn-secondary">
                        <i class="fas fa-flag"></i> Report
                    </button>
                </form> -->


                <form id="commentlike" method="POST" action="{% url 'blog_home:likecomment'%}"> 
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">
                        <i class="fas fa-thumbs-up"></i> Like
                    </button>
                    <input type="hidden" id="hiddenContent2" name="comment_id" value="{{comment.id}}">
                </form>
                </div>
            </div>
     
    
        <div id="replyForm{{ comment.id }}" class="collapse mt-2">
            <form class="reply-form" method="POST" action="{% url 'blog_home:retrieveblog' id=blog_post.id %}">
                <!-- Your reply form fields here -->
                
                    <label for="comment">Reply</label>
                    <input type="hidden" id="hiddenContent" name="parent" value="{{ comment.id }}">
                    <textarea class="form-control" id="comment" name="text" rows="1" required></textarea>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Submit Reply</button>
            </form>
{% for replycomment in all_comments %}
    {% if replycomment.is_reply == True %}
        {% if replycomment.parent.id == comment.id %}
        <div class="d-flex align-items-center" style="margin-left: 10%; margin-top: 3%;">
            <!-- Left div with image -->
            <div>
                <img src="https://mdbootstrap.com/img/new/slides/080.jpg" alt="User Avatar" class="rounded-circle" style="width: 80px;">

                <h5 class="mb-1">{{ replycomment.name }}</h5>
            </div>
            <!-- Right div with content -->
            <div class="ml-3" style="background-color: lightcoral; width: 40%;margin-left: 10%; ">
              
                <p>{{ replycomment.text }}</p>
                <!-- Buttons for Reply, Report, and Like -->
                <button class="btn btn-secondary reply-button" data-toggle="collapse" data-target="#replyForm{{ comment.id }}">
                    Reply
                </button>
                <button class="btn btn-secondary">
                    <i class="fas fa-flag"></i> Report
                </button>
                <button class="btn btn-secondary">
                    <i class="fas fa-thumbs-up"></i> Like
                </button>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endfor %}
        </div>
    </li>
        {% endfor %}
    </ul>
</div>

        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->


        <script>
    //         const replyButton = document.getElementById('reply-btn');
    //         replyButton.addEventListener('click', () => {
    //             console.log("button is clicked")
    // });
            $(document).ready(function() {
                $('.reply-button').click(function() {
                    console.log("button is clicked")
                    var targetForm = $(this).data('target');
                    $(targetForm).slideToggle();
                });
            });
        </script>
        
</body>
</html>
